.body {
    overflow: scroll;
}


nav a  {
	
    
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    display: block;
    flex-basis: 100%;
   
       
    
} 


h1,
p {
  /* border-bottom: 1px solid #ccc; */
  max-width: 1200px;
  margin: auto;
  
}


.flex-row-1  {
  	display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    
} 


   .col-2 {
	 
    flex-direction: row-reverse; 
  
  

} 

.flex-container { 
  
  width: 50%; 
  margin: auto; 
  flex-wrap: wrap;
 
 flex-direction: column-reverse
  
} 

  .flex-column {
   flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    margin: auto; 
   
}  

input[type="text"],
input[type="email"] {
  margin: auto; 
  width: 50%; 
 

} 



#ideas { 
 flex-basis: 33%;
 flex-direction: column;
  

 
  
} 


@media only screen and (min-width: 320px) and (max-width: 600px) {

 
.navigation {
  flex-direction: column;
  width: 90%; 
  margin: auto; 
  
}

.col { 
  
  width: 75%; 
  margin: auto; 
  
  
} 

.flex-column {
  width: 75%; 
}


input[type="text"],
input[type="email"] {
  margin: 10px; 
  width: 50%; 
 

}

}


@media only screen and (min-width: 800px) { 



 .col { 
  
 flex-direction: column;
 flex-basis: 75%; 

}
  
  
.flex-row-1 {
	  display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    
}  



   .col-2 {
	 flex-direction: column;
    display: flex;
    flex-wrap: wrap; 
    margin: 50px; 
    flex-basis: 50%;

} 

  .flex-column {
   flex-direction: row-reverse;
    flex-wrap: wrap;
    display: flex; 
     flex-basis: 75%;
     margin: auto; 
    
}

input[type="text"],
input[type="email"] {
  margin: 10px; 
  width: 50%; 
 

}


.col { 
 width: 33%;
 flex-direction: row;
  

 
  
} 

}
@media only screen and (min-width: 1300px) {


 .header nav {
    text-align: center; 
    margin: 5%;

 }

   .col { 
  
 flex-basis: 25%; 
 margin: 10px; 
}

 .flex-row {
   margin: 30%; 

 }

.flex-container {
  float: left;
 
}




 h1 {
   margin: 30%; 
 }


input[type="text"],
input[type="email"] {
 
  margin: 10%; 
  max-width: 200%;
   
}

  
}